!!!5
html(style='background-color: #222;')
    head
        meta(name="viewport", content="initial-scale=1.0")
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        header david k roberts
        #menu
            ul
                li: a(href='#').sel About
                li: a(href='#') Projects
                li: a(href='#') Experience
                li: a(href='#') Contact
        #about.topic_heading About
